@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

body {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
}

a {
  color: #36a7e9
}

a:visited {
  color: #1481c9;
}

h1.title,
p.subtitle {
  margin-block-start: 0;
}

h1.title {
  margin-block-end: 0.2rem;
  font-weight: 900;
  color: black;
  text-transform: uppercase;
}

header#title-block-header {
  margin-right: 135px;
  z-index: 1000;
}

/* shrink header elements at lower widths */
@media (max-width: 45em) {
  header#title-block-header {
    margin-right: 105px;
    font-size: 90%;
  }
}

@media (max-width: 34em) {
  header#title-block-header {
    margin-right: 105px;
    font-size: 80%;
  }
}

.embedcode {
  font-size: small;
  padding: 1em;
  border-inline-start: 1px solid #36a7e9;
  background-color: #36a7e911;
  color: #36a7e9;
}

.embedcode pre {
  margin: 0;
}

.embedcode code {
  font-family: "JetBrains Mono", monospace;
  white-space: normal;
}

/* visual effect to distinguish pos. and neg. changes without breaking polygons */
g[aria-label="area"][fill="orangered"] {
  mix-blend-mode: exclusion;
}
